<!DOCTYPE html>
<html lang="en" ng-app="TaskTracker">

<head>
    <meta charset="UTF-8">
    <title>TaskTracker</title>
    <link rel="stylesheet" href="css/angular-material.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body ng-controller="mainController">

    <md-content>
        <md-toolbar>
                <div class="md-toolbar-tools">
                   <span flex></span>
                   <h1>Just adding a change</h1>
                    <h2>{{appName}}</h2>
                    <span flex></span>

                    <select ng-options="lang.locale as lang.name for lang in languages" ng-model="currentLanguage" ng-change="changeLanguage()"></select>
                    <md-button ng-repeat="m in menuItems">
                        <a href="#/{{m.link}}" translate="menu.{{m.name | lowercase }}">

                        </a>
                    </md-button>
                    <span flex></span>
                </div>
        </md-toolbar>
    </md-content>

    <div class="container">
        <div ng-view></div>
    </div>

    <!--Libraries-->
    <script src="js/lib/jQuery/jquery-2.1.4.js"></script>
    <script src="js/lib/materialize/materialize.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/lib/angular/angular-translate.js"></script>
    <script src="js/lib/angular/angular-translate-loader-static-files.js"></script>
    <script src="js/lib/angular/angular-animate.js"></script>
    <script src="js/lib/angular/angular-route.js"></script>
    <script src="js/lib/angular/angular-aria.js"></script>
    <script src="js/lib/angular/angular-material.js"></script>
    <!--App-->
    <script src="js/app/tasktracker.js"></script>
    <script src="js/app/mainController.js"></script>
    <script src="js/app/taskController.js"></script>
    <script src="js/app/settingsController.js"></script>
    <script src="js/app/routes.js"></script>

</body>

</html>
